# API
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:5173

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=morok

# Frontend
VITE_API_URL=http://localhost:3000
